app/node_modules
app/.pnp
app/.pnp.js
app/coverage
app/
app/build
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/android

server/dist
server/node_modules

esp32/lib
esp32/.pio
esp32/.pioenvs
esp32/.vscode
esp32/.DS_Store